$primary-color: #26263A;
$secondary-color: #9999A2;


//filter-tabs
$active-filter-bk-color: $primary-color;
$active-filter-color: #FFF;

$inactive-filter-bk-color: #E6E6E8;
$inactive-filter-color: $primary-color;

$filter-tab-border-radius: 30px;

// filter buttons
$btn-primary-bk-color: #00A5AD;
$btn-primary-color: #FFF;
$btn-primary-border: 2px solid #00A5AD;

$btn-secondary-color: $primary-color;
$btn-secondary-bk-color: #FFF;
$btn-secondary-border: 2px solid $primary-color;

$filter-header-color: $secondary-color;


// status budge
$status-border-radius: 30px;
$premier-status-bk-color: $primary-color;
$start-status-bk-color: $secondary-color;
$status-color: #FFF;


//link colors
$link-color: #00A5AD;
$link-hover-color: #bee7ee;


